/* styles.css */

body {
    font-family: 'default_font', Arial;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    display: flex;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 0;
    margin: 10px 10px; /* Adjust margin as needed */
    padding: 10px 15px;
}

ul li a {
    display: block; /* Ensure anchor tags fill entire li */
    padding: 10px 15px; /* Adjust padding as needed */
    text-decoration: none;
    color: white;
    width: 100%; /* Ensure anchor tag fills entire li width */
    height: 100%; /* Ensure anchor tag fills entire li height */
    border-radius: 10px; /* Match li's rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width/height */
    font-size: 20px;
    transition: font-size 0.3s ease;
}

ul li a:hover {
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%; /* Ensure full height of viewport */
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    width: 15%; /* Adjust width as needed */
    height: 100%; /* Full height of viewport */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
    text-align: center;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.title {
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

.main-content {
    position: fixed;
    width: 85%;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.selection_form {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    width: 100%; /* Adjust width as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Center horizontally and add vertical margin */
}

.bigger-nav {
    font-size: 100px;
    padding: 50px;
}

.bigger-nav:hover {
    font-size: 110px;
}

.styled-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    color: white;
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
    margin-bottom: 20px; /* Add spacing between inputs */
    font-size: 20px;
}

.custom-textarea {

    height: 300px; /* Adjust the height as needed */
    width: 700px;
    padding: 10px;
    resize: none; important!
}

textarea {
    font-family: Arial; important!
}

.styled-input::placeholder {
    color: #d1d1d1;
}

.styled-input:focus {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, .6);
}

.styled-input:focus::placeholder {
    color: rgba(255, 255, 255, 0);
}

.btn {
    margin: 10px 20px;
    padding: 20px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.slider-container {
    position: relative;
    min-width: 700px;
    padding-bottom: 10px;

}
.slider-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 30px;
}
input[type="range"] {
    width: 100%;
}


.input-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.input-radio:checked {
    border: 6px solid black;
}


@font-face {
    font-family: 'default_font';
    src: url('/static/fonts/font1.ttf') format('truetype'),
         url('/static/fonts/font2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
