body {
    font-family: 'default_font', Ariel;
    background-color: #2b2b2b;
    margin: 0;
    padding: 20px;
    color: #dedede;
}

a {
  text-decoration: none;
  color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #292828;
    border-radius: 10px;
    padding: 0;
    margin: 10px 10px; /* Adjust margin as needed */
    padding: 10px 15px;
}

ul li a {
    display: block; /* Ensure anchor tags fill entire li */
    padding: 10px 15px; /* Adjust padding as needed */
    text-decoration: none;
    color: white;
    width: 100%; /* Ensure anchor tag fills entire li width */
    height: 100%; /* Ensure anchor tag fills entire li height */
     /* Match li's rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width/height */
    font-size: 20px;
    transition: font-size 0.3s ease;
}

ul li a:hover {
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%; /* Ensure full height of viewport */
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #212121;
    width: 15%; /* Adjust width as needed */
    height: 100%; /* Full height of viewport */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
    text-align: center;
}

.page-content {
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
}

.main-content {
    position: fixed;
    width: 85%;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    overflow-y: auto; /* Enable scrolling if content exceeds height */

}

@font-face {
    font-family: 'default_font';
    src: url('/static/fonts/font1.ttf') format('truetype'),
         url('/static/fonts/font2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}