{% extends "base.html" %}



{% block title1 %}
    <h1 id="section_id">תכונות הלוחם - מראיין 1</h1>

{% endblock %}

{% block content1 %}
    <form id="form_id" action="/submit" method="post">
        <h2>0 - לא ניתן להעריך</h2>
            <div class="selection_form">
                {% for f in ['חוסן1', 'מוטיבציה לשירות ביחידה1', 'יכולות למידה גבוהות1', 'עבודת צוות1', 'אחריות אישית1', 'גמישות תפקודית1', 'זיקה טכנולוגית1', 'תכנון וביצוע1', 'עצמאות1', 'יצירתיות1', 'סקרנות1', 'אמינות1', 'פרו-אקטיביות1'] %}
                <label>{{ f.strip('1') }}</label>
                <div class="slider-container">
                    <input class="styled-input" name="{{ f }}" type="range" min="0" max="6" step="1"
                           value="{{ form_data[f] }}">
                    <div class="slider-labels">
                        {% for i in range(0, 7) %}
                            <span>{{ i }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="button" class="btn" onclick="submitForm()">שמירה והמשך</button>
        </form>
{% endblock %}
