{% extends "base.html" %}


{% block title1 %}
    <h1 id="section_id">פרטים אישיים</h1>
{% endblock %}

{% block content1 %}
    <form id="form_id" action="/submit" method="post">
            <div class="selection_form">
                <label>שם המלשב:</label>
                <input class="styled-input" name="שם המלשב" type="text" pattern="[A-Za-zא-ת ]+"
                       onblur="trimInput(this)" placeholder="שם המלשב" value="{{ form_data['שם המלשב'] }}" oninput="validateInput(this)" >
                <label>תעודת זהות:</label>
                <input class="styled-input" name="תעודת זהות" type="text" pattern="\d{9}"
                       onblur="trimInput(this)" placeholder="תעודת זהות" value="{{ form_data['תעודת זהות'] }}" oninput="validateID(this)" >
            </div>
            <button type="button" class="btn" onclick="submitForm()">שמירה והמשך</button>
        </form>
{% endblock %}
