{% extends "base.html" %}


{% block title1 %}
    <h1 id="section_id">פרטים אישיים</h1>
{% endblock %}

{% block content1 %}
    <form id="form_id" action="/submit" method="post">
            <div class="selection_form">
                <label>תאריך</label>
                <input class="styled-input" name="תאריך" type="date" placeholder="dd-mm-yyyy" value="{{ form_data['תאריך'] }}">
                <label>שם המועמד:</label>
                <input class="styled-input" name="שם המועמד" type="text" placeholder="שם המועמד" value="{{ form_data['שם המועמד'] }}">
                <label>שם המעריך:</label>
                <input class="styled-input" name="שם המעריך" type="text" placeholder="שם המעריך" value="{{ form_data['שם המעריך'] }}">
            </div>
            <button type="button" class="btn" onclick="submitForm()">שמירה והמשך</button>
        </form>
{% endblock %}
