<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>שאלון-לי</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/handle_request.js"></script>
</head>
<body dir="rtl">
    <div class="container">
        <div class="navigation">
            <h1>עמודים</h1>
            <nav>
                <ul>
                    <h1 dir="ltr">{{ data }}</h1>

                    {% for page, nav in zip(data['pages'], data['navs']) %}
                        <li><a href="{{ page }}">{{ nav }}</a></li>
                    {% endfor %}
                    <!-- Add more links as needed -->
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="title">
                {% block title1 %}
                {% endblock %}
            </div>
            <div class="page-content">
                {% block content1 %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size:14px">Made by Daniel Katz | GitHub name - DanielKatzCoding</p>
    </footer>
</body>
</html>
