<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>שאלון-לי</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        li {
            margin: 500px;
        }
    </style>
    <script src="/static/js/handle_request.js"></script>
</head>
<body dir="rtl" style="background-image: url('/static/background/first.jpg');">
    <div class="container">
        <div class="main-content" style="width: 100%">
            <div class="title">
                <h1 dir="ltr">שאלונים:</h1>
            </div>
            <div class="page-content">
                <nav>
                    <ul>
                        <li><a class="bigger-nav" href="/dynamics/page1">דינאמיקה</a></li>
                        <li><a class="bigger-nav" href="/interview/page1">ריאיון</a></li>
                        <li><a class="bigger-nav" href="/interviewer_feedback/page1">משוב מראיין</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <footer>
        <p style="font-size:14px;">Made by Daniel Katz <-> GitHub name - DanielKatzCoding</p>
    </footer>
</body>
</html>
