<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>שאלון-לי</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/handle_request.js"></script>
</head>
<body dir="rtl">
    <div class="container">
        <div class="main-content">
            <div class="title">

            </div>
            <div class="page-content">

            </div>
        </div>
    </div>
    <footer>
        <p style="font-size:14px">Made by Daniel Katz | GitHub name - DanielKatzCoding</p>
    </footer>
</body>
</html>
